/*             
*  Akis' Discord CSS snippet collection. (These snippets are NOT mine, they are from the Powercord/Black Box/BetterDiscord discord servers!)
*/

/* Original Case - Makes category and role names their original case.*/
@import url("https://rawcdn.githack.com/akisblack/DiscordAddons/e9ef88f3d144d6c72e4a601eb81310afaad5d4db/Snippets/Original%20Case/index.css");

/* Rounded square avatars and guilds - Makes avatars and servers rounded squares.*/
/*@import url("https://raw.githubusercontent.com/hyblocker/pixelcord/v4/modules/appearance/icons/shapes/rounded.css");

:root {
	--guild-shape-normal:	url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 48 48' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='black' d='M5 0C2.23 0 0 2.23 0 5V43C0 45.77 2.23 48 5 48H43C45.77 48 48 45.77 48 43V5C48 2.23 45.77 0 43 0Z'/%3E%3C/svg%3E");
	--guild-shape-hover:	url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 48 48' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='black' d='M5 0C2.23 0 0 2.23 0 5V43C0 45.77 2.23 48 5 48H43C45.77 48 48 45.77 48 43V5C48 2.23 45.77 0 43 0Z'/%3E%3C/svg%3E");
	--avatar-shape:	url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 48 48' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='black' d='M5 0C2.23 0 0 2.23 0 5V43C0 45.77 2.23 48 5 48H43C45.77 48 48 45.77 48 43V5C48 2.23 45.77 0 43 0Z'/%3E%3C/svg%3E");
}*/

/* Green Replacer - Replaces the green accent with whatever colour you want.*/
/*@import url("https://rawcdn.githack.com/akisblack/DiscordAddons/e9ef88f3d144d6c72e4a601eb81310afaad5d4db/Snippets/Green%20Replacer/index.css");

:root {
	--accent-secondary: #1b91ff;
}*/

/* Fix Powercord setting titles - Makes the Powercord setting titles match Discord's ones.*/
.contentColumnDefault-1VQkGM > div > :nth-child(1) {
	font-size: 20px;
    line-height: 24px;
	text-transform: none;
}

/* Uncoloured Emote Picker - Removes the colour when hovering over the emote picker button.*/
.sprite-2iCowe, .sprite-2iCowe:hover, .sprite-2iCowe:focus, .sprite-2iCowe:active { 
	filter: grayscale(1) !important;
}

/* Window Buttons In Toolbar - Moves the window buttons from the title bar to the chat toolbar.*/
/*.platform-win .typeWindows-1za-n7 {
	height: 9px;
	margin-top: 0;
	position: absolute;
	top: 1px;
	left: 0;
	width: 100%;
	background: 0 0
}
	
.platform-win .winButtonClose-1HsbF- {
	border-top-right-radius: var(--TB-tr-roundness)
}

.platform-win .winButton-iRh8-Z {
	position: relative;
	top: calc(var(--TB-position-top, 0px) - 1px);
	right: var(--TB-position-right, 0);
	height: var(--TB-height, 48px);
	width: var(--TB-width, 32px)
}

.platform-win .container-1r6BKw {
	padding-right: var(--TB-header-padding, 100px)
}

.platform-win .wordmarkWindows-1v0lYD {
	display: none
}

.platform-win #app-mount.bd-detached-editor .winButton-iRh8-Z {
	right: 30%
}

/* Yellow Permission Ticks - Makes the / permission yellow.*/
.deny-3nAuT6 {color: #F04747;}
.deny-3nAuT6:hover {background: #F04747 !important; color: white;}
.deny-3nAuT6.selected-2YhbGh {background: #F04747 !important;}
.deny-3nAuT6.selected-2YhbGh:hover {background: #FF6660 !important;}
.passthrough-1c2ewQ {color: #FAA61A;}
.passthrough-1c2ewQ:hover {background: #FAA61A !important; color: white;}
.passthrough-1c2ewQ.selected-2YhbGh {background: #FAA61A !important;}
.passthrough-1c2ewQ.selected-2YhbGh:hover {background: #FFC23D !important;}
.allow-1PzSY3 {color: #43B581;}
.allow-1PzSY3:hover {background: #43B581 !important; color: white;}
.allow-1PzSY3.selected-2YhbGh {background: #43B581 !important;}
.allow-1PzSY3.selected-2YhbGh:hover {background: #61D09A !important;}

/* No 6 line limit on about me section - Removes the 6 line limit on about me's.*/
.clamped-IwJfxR {
    -webkit-line-clamp: unset;
}

/* Reorder theme toggler - Reorder's theme toggler to be below the Themes section in Powercord settings.*/
.side-8zPYf6 > div[data-item-id="pc-moduleManager-themes"],
.side-8zPYf6 > div[data-item-id="pc-moduleManager-themes"] ~ div { order: 3 }
.side-8zPYf6 > div[data-item-id="theme-toggler"] { order: 2 !important; }
.side-8zPYf6 > div[data-item-id="bdCompat"] { order: 1 !important; }

/* Mobile Home Icon - Makes the home icon look like the mobile one.*/
/*.homeIcon-FuNwkv {
	color: transparent;
	-webkit-mask: var(--home-icon);
	mask: var(--home-icon);
	background: var(--interactive-normal);
	width: 60%;
	height: 60%;
	margin-top: 2px;
	--home-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:serif='http://www.serif.com/' width='100%25' height='100%25' viewBox='0 0 48 48' version='1.1' xml:space='preserve' style='fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;'%3E%3Crect id='ArtBoard1' x='0' y='0' width='48' height='48' style='fill:none;'/%3E%3Cg id='ArtBoard11' serif:id='ArtBoard1'%3E%3Cpath id='home' d='M13.688,43.053l0,-8l-5.867,0c-2.109,0 -3.821,-1.712 -3.821,-3.821l0,-22.464c0,-2.109 1.712,-3.821 3.821,-3.821l32.358,-0c2.109,-0 3.821,1.712 3.821,3.821l-0,22.464c-0,2.109 -1.712,3.821 -3.821,3.821l-18.491,0l-8,8Z'/%3E%3C/g%3E%3C/svg%3E") center no-repeat;
}

/* Coloured Window Buttons - Makes min/max window buttons coloured on hover.*/
.titleBar-AC4pGV > *:nth-child(3):hover {
	background-color: #eab618;
}

.titleBar-AC4pGV > *:nth-child(4):hover {
	background-color: #48c048;
}

/* Display None - Removes stuff that is useless to me.*/
div[class^="akaBadge-"],  div[class^="nicknames-"], /* Remove AKA section on DM top bar */
[aria-label*="Mute channel"], /*Remove mute toolbar button*/
.toolbar-1t6TWx a, /*Remove help button*/
/*[aria-label*="Inbox"], /* Hide inbox button */
button[aria-label="Send a gift"], /* Hide Nitro gift button */
button[aria-label="Open GIF picker"], /* Hide GIF picker button */
button[aria-label="Open sticker picker"], /* Hide sticker picker button */
.iconWrapper-2OrFZ1[aria-label="Hide Member List"], [aria-label="Show Member List"], /*Remove member list button*/
.channel-2QD9_O[href="/store"], /*remove nitro button in home*/
.statusItem-33LqPf > .description-2L932D /*remove status picker descriptions*/ { 
	display: none;
}

/* Minified Search Box - Makes the search box on the toolbar a normal icon.*/
.searchBar-3dMhjb {
	width: 28px;
	transition: width 0.6s ease-in-out;
	color:#fff;
	background: none;
}

.icon-3cZ1F_ {
	height: 24px;
	width: 24px;
	color:var(--interactive-normal);
}

.iconContainer-O4O2CN {
	bottom: 3px;
}

.search-36MZv- {
	margin-left: 0px;
	order: 100;
}

/* Mobile Jump To Present Bar - Makes the jump to present bar like the mobile one.*/
.jumpToPresentBar-G1R9s6 {
	visibility: hidden;
	bottom:15px;
}

.jumpToPresentBar-G1R9s6 .barButtonIcon-3t4V3d {
	visibility: visible;
	padding:11px;
	background-color: var(--background-tertiary);
	border-radius: 50%;
}

/* No Gaps In Settings - Settings menu with no gaps.*/
.sidebarRegion-VFTUkN {
	flex: 0;
}

.contentColumnDefault-1VQkGM {
	margin: 0 auto;
}

/* Original
.sidebar-CFHs9e {
	padding-top: 60px;
	padding-bottom: 10px;
	padding-left: 10px;
}

.sidebarRegion-VFTUkN {
	flex: 0 0 auto;
}

.contentColumn-2hrIYH, .customColumn-Rb6toI {
	max-width: unset;
}*/

/* No Preview On Folders - Disables the folder preview in folder icons.*/
.closedFolderIconWrapper-2sTcE6 {
	display:flex;
	justify-content:center;
	align-items:center;
}

.closedFolderIconWrapper-2sTcE6 * {
	display:none;
}

.closedFolderIconWrapper-2sTcE6::after {
	content:'';
	width:24px;
	height:24px;
	position:relative;
	display:block;
	background:#fff;
	-webkit-mask:url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" aria-hidden="false" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M20 7H12L10.553 5.106C10.214 4.428 9.521 4 8.764 4H3C2.447 4 2 4.447 2 5V19C2 20.104 2.895 21 4 21H20C21.104 21 22 20.104 22 19V9C22 7.896 21.104 7 20 7Z"/></svg>') center/contain no-repeat;
}

/* One Emoji In Emote Picker - Only allows one emoji to be displayed in the emoji picker button.*/
.sprite-2iCowe { 
	background-position: 0px 0px !important;
}

/* Remove Rebrand - Removes the things that I don't like in the rebrand.*/
/*Nitro tab settings*/
.icon-Zc-uZZ {
	display: none;
}

.premiumTabItem-1QTfBr[aria-selected=true] {
	color: #fff!important;
	background-color: var(--background-modifier-selected)!important;
}

/*reactions*/
.reaction-1hd86g {
	border: none;
}

/*font*/
body {
	--font-display: var(--font-primary);
}

/* Revert SVG path data */
.wordmarkWindows-1v0lYD path {
	d: path("M3.57642276,0.141304348 L0,0.141304348 L0,4.22826087 L2.38069106,6.40217391 L2.38069106,2.43478261 L3.66260163,2.43478261 C4.47052846,2.43478261 4.86910569,2.83695652 4.86910569,3.4673913 L4.86910569,6.5 C4.86910569,7.13043478 4.49207317,7.55434783 3.66260163,7.55434783 L0,7.55434783 L0,9.85869565 L3.57642276,9.85869565 C5.49390244,9.86956522 7.29288618,8.90217391 7.29288618,6.66304348 L7.29288618,3.39130435 C7.29288618,1.13043478 5.49390244,0.141304348 3.57642276,0.141304348 Z M22.3310976,6.67391304 L22.3310976,3.32608696 C22.3310976,2.11956522 24.4640244,1.83695652 25.1103659,3.05434783 L27.0817073,2.23913043 C26.3168699,0.510869565 24.8949187,0 23.7207317,0 C21.803252,0 19.9073171,1.13043478 19.9073171,3.32608696 L19.9073171,6.67391304 C19.9073171,8.88043478 21.803252,10 23.6776423,10 C24.8841463,10 26.3276423,9.39130435 27.1247967,7.81521739 L25.0134146,6.82608696 C24.4963415,8.17391304 22.3310976,7.84782609 22.3310976,6.67391304 Z M15.8030488,3.7826087 C15.0597561,3.61956522 14.5642276,3.34782609 14.5319106,2.88043478 C14.575,1.75 16.2878049,1.7173913 17.2896341,2.79347826 L18.8731707,1.55434783 C17.8821138,0.326086957 16.7617886,0 15.598374,0 C13.8424797,0 12.1404472,1 12.1404472,2.91304348 C12.1404472,4.77173913 13.5408537,5.76086957 15.0813008,6 C15.8676829,6.10869565 16.7402439,6.42391304 16.7186992,6.97826087 C16.654065,8.02173913 14.5426829,7.9673913 13.5839431,6.7826087 L12.0650407,8.23913043 C12.9591463,9.40217391 14.1764228,10 15.3182927,10 C17.074187,10 19.0239837,8.9673913 19.0993902,7.08695652 C19.2071138,4.69565217 17.5050813,4.09782609 15.8030488,3.7826087 Z M8.59634146,9.85869565 L11.0093496,9.85869565 L11.0093496,0.141304348 L8.59634146,0.141304348 L8.59634146,9.85869565 Z M49.2835366,0.141304348 L45.7071138,0.141304348 L45.7071138,4.22826087 L48.0878049,6.40217391 L48.0878049,2.43478261 L49.3589431,2.43478261 C50.1668699,2.43478261 50.5654472,2.83695652 50.5654472,3.4673913 L50.5654472,6.5 C50.5654472,7.13043478 50.1884146,7.55434783 49.3589431,7.55434783 L45.6963415,7.55434783 L45.6963415,9.85869565 L49.2727642,9.85869565 C51.1902439,9.86956522 52.9892276,8.90217391 52.9892276,6.66304348 L52.9892276,3.39130435 C53,1.13043478 51.2010163,0.141304348 49.2835366,0.141304348 Z M31.7353659,0 C29.753252,0 27.7819106,1.09782609 27.7819106,3.33695652 L27.7819106,6.66304348 C27.7819106,8.89130435 29.7640244,10 31.7569106,10 C33.7390244,10 35.7103659,8.89130435 35.7103659,6.66304348 L35.7103659,3.33695652 C35.7103659,1.10869565 33.7174797,0 31.7353659,0 Z M33.2865854,6.66304348 C33.2865854,7.35869565 32.5109756,7.7173913 31.7461382,7.7173913 C30.9705285,7.7173913 30.1949187,7.36956522 30.1949187,6.66304348 L30.1949187,3.33695652 C30.1949187,2.61956522 30.9489837,2.23913043 31.7030488,2.23913043 C32.4894309,2.23913043 33.2865854,2.58695652 33.2865854,3.33695652 L33.2865854,6.66304348 Z M44.3605691,3.33695652 C44.3067073,1.05434783 42.7770325,0.141304348 40.8056911,0.141304348 L36.9815041,0.141304348 L36.9815041,9.86956522 L39.4268293,9.86956522 L39.4268293,6.77173913 L39.8577236,6.77173913 L42.0768293,9.85869565 L45.0930894,9.85869565 L42.4861789,6.52173913 C43.6495935,6.15217391 44.3605691,5.14130435 44.3605691,3.33695652 Z M40.8487805,4.65217391 L39.4268293,4.65217391 L39.4268293,2.43478261 L40.8487805,2.43478261 C42.3784553,2.43478261 42.3784553,4.65217391 40.8487805,4.65217391 Z");
}

.wordmarkWindows-1v0lYD path:not(:first-child) {
	display: none;
}

/* Tweak positioning */
.wordmarkWindows-1v0lYD g {
	transform: translateY(3px);
}

/* Compact Status Menu - Makes the status picker compact.*/
/*.status-1fhblQ, .description-2L932D {
	display: none;
}

#status-picker .separator-2I32lJ {
	display: none;
}

.mask-1qbNWk.icon-1IxfJ2 {
	--status-icon-size: 75%;
	height: var(--status-icon-size); 
	width: var(--status-icon-size);
	margin-left: 33%;
}

.animatorTop-2Y7x2r.scale-3iLZhb.didRender-33z1u8 > .menu-3sdvDG.styleFixed-sX-yHV > .scroller-3BxosC.thin-1ybCId.scrollerBase-289Jih {
	display: grid;
	align-items: center;
	grid-template-columns: auto auto auto auto;
	visibility: visible;
}

.item-1tOPte.colorDefault-2K3EoJ:nth-of-type(7) {
	grid-column: 1/5;
}

.animatorTop-2Y7x2r.scale-3iLZhb.didRender-33z1u8 {
	transition: opacity 0.15s linear 0s;
}

.customText-tY5LJn {
	font-size: 15px;
}

.item-1tOPte.colorDefault-2K3EoJ:nth-of-type(7) {
	grid-column:5/5;
	/*display:none;*/
/*}

.customEmoji-2_2FwB {
	margin-left: 8px;
	width: 20px;
	height: 20px;
}

/* macOS Window Buttons - Makes the window buttons look like macOS, but on the right.*/
/*.toolbar-1t6TWx {
	margin-right:85px;
}

.toolbar-1t6TWx:last-child {
	border-right:solid 1.5px rgba(255, 255, 255, 0.562);
}

.winButton-iRh8-Z > svg {
	display: none;
}

.withFrame-haYltI {
	position: relative;
	top:16px;
	margin-top:-17px;
	height:15px;

}

.winButton-iRh8-Z:hover {
	background-color: var(--background-teritary);
}

.winButton-iRh8-Z {
	pointer-events: none;
	position: relative;
	top:12px;
	right:5px;
	margin-left: -3px;
}

.winButton-iRh8-Z::after {
	content: "";
	padding: 7px;
	border-radius: 50px;
	pointer-events: fill;
}

.winButtonClose-1HsbF- {
	margin-right: 3px;
}

.winButtonClose-1HsbF-::after {
	background-color: #FF605C;
}

.winButtonClose-1HsbF-:hover::after {
	background-color: rgba(255, 96, 92, 0.5);
}

.winButtonMinMax-PBQ2gm[aria-label="Maximize"]::after {
	background-color: #FFBD44;
}

.winButtonMinMax-PBQ2gm[aria-label="Maximize"]:hover::after {
	background-color: rgba(255, 189, 68, 0.5);
}

.winButtonMinMax-PBQ2gm[aria-label="Minimize"]::after {
	background-color: #00CA4E;
}

.winButtonMinMax-PBQ2gm[aria-label="Minimize"]:hover::after {
	background-color: rgba(0, 202, 78, 0.5);
}

/* Notice Bar On Chat - Makes the notice bars be under the chat toolbar instead of on top of the whole window.*/
/*.notice-3uyY6c, .notice-3bPHh- {
	background-color: var(--background-accent);
	top: 80px;
	opacity: 0.9;
	border-radius: 0px 0px 12px 12px;
	left: 240px;
	margin-right: 494px;
	margin-top: -35px;
}

/* [Use the Better Settings toggle instead] Plugin Settings Header - Adds a Plugin Settings Header before the plugin settings tabs on Powercord.*/
/*.item-PXvHYJ[data-item-id=pc-updater] {
	height: 4.65rem;
	align-items: unset !important;
}
 
.item-PXvHYJ[data-item-id=pc-updater]:hover {
	background: linear-gradient(180deg,
	var(--background-modifier-hover) 0%, var(--background-modifier-hover) 43%,
	var(--background-secondary) 43.01%, var(--background-secondary) 100%) !important;
}

.item-PXvHYJ[data-item-id=pc-updater][class*=selected] {
	background: linear-gradient(180deg, 
	var(--background-modifier-selected) 0%, var(--background-modifier-selected) 43%,
	var(--background-secondary) 43.01%, var(--background-secondary) 100%) !important;
}

.item-PXvHYJ[data-item-id=pc-updater]:after {
	position: absolute;
	margin-top: 2.19rem;

	border-top: 1px solid var(--background-modifier-accent);
	line-height: 2.6rem;    
	width: 89.5%;

	content: "Plugin Settings";
	color: rgb(159, 159, 159);
	text-transform: uppercase;
	font-weight: 700;
	font-size: 12px;
}

/* User Area Thing - Makes the usea area on the bottom left a little more tidy.*/
/*.container-3baos1 .canCopy-2VBT7N.nameTag-3uD-yy {
    display: none;
}

.container-3baos1 .flex-1xMQg5:not(.powercord-spotify *) {
    flex-grow:1 !important;
    justify-content:space-between;
    margin:0 16px;
}

/* Small Icons In Home - Removes the text in the home icons.*/
/*.privateChannels-1nO12o .content-3YMskv {
	--columns: 4; 
	display: grid; 
	grid-template-columns: repeat(var(--columns), 1fr); 
	grid-auto-rows: min-content; 
}

.privateChannels-1nO12o .content-3YMskv > * {
	grid-column: 1/-1; 
}

.privateChannels-1nO12o .content-3YMskv .channel-2QD9_O:not([aria-label]) {
	grid-column: auto;
}

.privateChannels-1nO12o .content-3YMskv .channel-2QD9_O:not([aria-label]) .layout-2DM8Md .content-3QAtGj {
	display: none;
}

.privateChannels-1nO12o .content-3YMskv .channel-2QD9_O:not([aria-label]) .layout-2DM8Md .avatar-3uk_u9 {
	width: 100%; margin: 0 !important;
}

.privateChannels-1nO12o .content-3YMskv .channel-2QD9_O:not([aria-label]) .layout-2DM8Md .children-gzQq2t {
	margin: 0 !important;
}

/* Transparent Folder Background - Removes the background behimd servers in a folder.*/
/*.expandedFolderBackground-1cujaW {
	background-color: transparent;
}