/*Make search bar a normal toolbar icon*/
.searchBar-3dMhjb {
	width: 28px;
	transition: width 0.6s ease-in-out;
	color:#fff;
	background: none;
}

.icon-3cZ1F_ {
	height: 24px;
	width: 24px;
	color:var(--interactive-normal);
}

.iconContainer-O4O2CN {
	bottom: 3px;
}

.search-36MZv- {
	margin-left: 0px;
}