/*No gaps in settings*/
.sidebar-CFHs9e {
	padding-top: 60px;
	padding-bottom: 10px;
	padding-left: 10px;
}

.sidebarRegion-VFTUkN {
	flex: 0 0 auto;
}

.contentColumn-2hrIYH, .customColumn-Rb6toI {
	max-width: unset;
}