/* Notice Bar On Chat */
.notice-3uyY6c, .notice-3bPHh- {
	background-color: var(--background-accent);
	top: 80px;
	opacity: 0.9;
	border-radius: 0px 0px 12px 12px;
	left: 240px;
	margin-right: 494px;
	margin-top: -35px;
}