/* Green replacer */
:root {
	--old-green: rgb(27, 145, 255);
	--text-positive: var(--old-green);
  }
  
  /* On switches to old green */
  .container-3auIfb[style="opacity: 1; background-color: hsl(139, calc(var(--saturation-factor, 1) * 47.3%), 43.9%);"] {
	background-color: var(--old-green) !important;
  }
  
  /* Restyle the create server and discovery buttons to the old green */
  .circleIconButton-1QV--U.circleButtonBase-2DCxIZ {
	color: var(--old-green);
  }
  
  .circleIconButton-1QV--U.circleButtonBase-2DCxIZ.selected-1JjBPm {
	color: white;
	background-color: var(--old-green);
  }
  
  /* Change all radio bars with the new green to the old green */
  /* In particular, this fixes the privacy and safety settings' 'keep me safe' option */
  .radioBar-bMNUI-[style*="--radio-bar-accent-color:hsl(139, calc(var(--saturation-factor, 1) * 47.3%), 43.9%); padding: 10px;"] {
	--radio-bar-accent-color: var(--old-green) !important;
  }
  
  /* Change the 'get nitro' button in the emoji popup back to the old green */
  .lookFilled-1Gx00P.colorGreen-29iAKY {
	background-color: var(--old-green) !important;
  }
  
  /* Revert the 'Add Friend' button to the old green*/
  .item-3HknzM.item-PXvHYJ.themed-OHr7kt[style*="background-color: hsl(139, calc(var(--saturation-factor, 1) * 47.3%), 43.9%); color: hsl(0, calc(var(--saturation-factor, 1) * 0%), 100%);"] {
	background-color: var(--old-green) !important;
  }
  
  /* Fixed "Add Friend" button to correct colors when selected */
  .item-3HknzM.item-PXvHYJ.themed-OHr7kt[aria-selected=true] {
	color: var(--old-green) !important;
	background-color: var(--old-green-transparent) !important;
  }
  
  /* Fix misc SVGs that for some reason sometimes weren't targeted by the previous rules (particularly presence SVGs) */
  *[fill="#3ba55c"] {
	fill: var(--old-green);
  }
  
  /* Change green colorables from the new green color to the old green color. */
  /* In particular, this fixes the join call buttons, but it may also fix other stuff around the app */
  .colorable-1bkp8v.green-plH-Mj {
	background-color: var(--old-green);
  }
  
  /* Also fix the colorables when they're active or being hovered over, for example when hovering over the call buttons */
  .colorable-1bkp8v.green-plH-Mj.active-1QRrIS, .colorable-1bkp8v.green-plH-Mj:hover {
	background: var(--old-green);
  }
  
  /* Verified check mark color */
  .verified-1eC5dy {
	color: var(--old-green);
  }
  
  /* Fix the speaking ring around your avatar in the bottom left corner of your screen */
  .avatarSpeaking-2c8-9i {
	box-shadow: inset 0 0 0 2px var(--old-green), inset 0 0 0 3px #2f3136;
  }
  
  /* And fix speaking avatars in calls in general */
  .speaking-B2MXPi.border-Jn5IOt {
	box-shadow: inset 0 0 0 2px var(--old-green), inset 0 0 0 3px #2f3136;
  }
  
  /* And fix speaking in call when your camera is enabled */
  .border-3dQmSY.speaking-WDn8Wm {
	box-shadow: inset 0 0 0 2px var(--old-green), inset 0 0 0 3px #000;
  }
  
  /* Fix the color of the spotify play icon on the upload button when playing on spotify */
  .attachButtonPlay-3iJ0mf {
	color: var(--old-green);
  }
  
  .textBadge-1iylP6 {
	 background-color: var(--old-green) !important;
  }
  
  .container-3auIfb, .input-rwLH4i {
	 background-color: var(--old-green);
  }