/* User Area Thing */

.container-3baos1 .canCopy-2VBT7N.nameTag-3uD-yy {
    display: none;
}

.container-3baos1 .flex-1xMQg5:not(.powercord-spotify *) {
    flex-grow:1 !important;
    justify-content:space-between;
    margin:0 16px;
}